.banner-container {
  position: relative;
  width: 100%;
  height: 138; 
  overflow: hidden;
}

.vignette-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(90deg,rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1) 90%);
}

.profile-avatar {
  position: absolute;
  bottom: clamp(8vh, 10%, 1vh); /* adjusts bottom position across devices */
  left: 70vw;                  /* 70% from the left of the screen */
  transform: translateX(-20%);
  z-index: 20;
  width: clamp(64px, 10vw, 144px);   /* responsive sizing */
  height: clamp(64px, 10vw, 144px);
}


@media (min-width: 768px) {
  .banner-container {
    height: 20vh;
  }
}


