.banner-container {
  position: relative;
  width: 100%;
  height: 18vh; 
}

.vignette-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: linear-gradient(90deg,rgba(18, 18, 18, 1) 10%, rgba(255, 255, 255, 0) 50%, rgba(18, 18, 18, 1) 90%);
}

.vignette-left,
.vignette-right,
.vignette-bottom {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.vignette-left {
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, rgba(18,18,18,1), transparent);
}

.vignette-right {
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
  background: linear-gradient(to left, rgba(18,18,18,1), transparent);
}

.vignette-bottom {
  bottom: -5;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(18, 18, 18, 1) 0%,    /* solid black at bottom */
    rgba(18, 18, 18, 0.9) 30%, 
    rgba(18, 18, 18, 0.2) 60%,
    rgba(0, 0, 0, 0) 100%   /* transparent toward top */
  );
  height: 8vh;
}

.profile-avatar {
  position: absolute;
  left: 70%;
  transform: translateX(-40%);
  transform: translateY(-20%);
  z-index: 1000;
  border: 3px solid #121212;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(18,18,18,0.6);
}


@media (min-width: 768px) {
  .banner-container {
    height: 30vh;
  }

  .profile-avatar {
    transform: translateX(-50%);
    transform: translateY(-50%);
  }

  .vignette-bottom {
    height: 12vh;
  }

  .banner-img {
    display: block;
    width: 100%;
    height: auto;
  }
}


