.custom-divider {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
  padding: 2rem;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (min-width: 640px) {
  .footer-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-content {
    flex-direction: row;
    gap: 8rem;
  }
}

.form-container {
  width: 325px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
