.custom-divider {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.form-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}
