.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vw;
  margin: 4px;
  padding: 8px;
  margin-left: 5vw;
  margin-right: 5vw; 
}

.hero-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  max-width: 500px;
}

.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  height: 275px;
}

.status {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  width: 80px;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  max-width: 500px;
}

@media (min-width: 800px) {
  .content {
    margin: 24px;
    margin-left: 15vw;
    margin-right: 15vw;
    flex-direction: row;
  }
}


