.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vw;
  margin: 4px;
  padding: 8px;
  margin-left: 5vw;
  margin-right: 5vw; 
}

.hero-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  padding-bottom: 4px;
  gap: 4px;
  max-width: 500px;
  min-width: 350px;
}

.graph-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
  margin-top: 10px;
}

.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
  height: 285px;
}

.ring-container {
  position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #62bd19;
    border-radius: 50%;
    top: 24px;
    left: 24px;
}

.ringring {
    border: 3px solid #62bd19;
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: -5px;
    top: -5px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.graph-header-item {
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  gap: 4px;
  margin-bottom: 6px;
}

.about-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center; 
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  min-width: 350px;
  max-width: 500px;
  gap: 8px;
}

@media (min-width: 800px) {
  .content {
    margin: 24px;
    margin-left: 15vw;
    margin-right: 15vw;
    flex-direction: row;
  }
}


