@media (prefers-reduced-motion: no-preference) {
  .projectCardContainerRight {
    animation: slide-in-right 1s linear forwards;
    transform-style: 'preserve-3d';
    animation-timeline: view();
    animation-range: entry;
  }

  .projectCardContainerLeft {
    animation: slide-in-left 1s linear forwards;
    transform-style: 'preserve-3d';
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes slide-in-right {
    from {
      opacity: 0;
      transform: translateX(200px) rotateY(-10deg);
    }

    to {
      opacity: 1;
      transform: translateX(0) rotateY(0deg);
    }
  }

  @keyframes slide-in-left {
    from {
      opacity: 0;
      transform: translateX(-200px) rotateY(10deg);
    }

    to {
      opacity: 1;
      transform: translateX(0) rotateY(0deg);
    }
  }
}
