.projectcard-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 16px !important;
}

.projectcard-slideshow-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}

.projectcard-slideshow-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  transform: translateY(21px);
  background: var(--mui-bg-paper); 
  background: linear-gradient(360deg, var(--mui-bg-paper) 0%, transparent 100%);
  z-index: 2;
  pointer-events: none;
}

.projectcard-slideshow-track {
  display: flex;
  gap: 8px;
  animation: scroll 20s linear infinite;
}

.projectcard-slideshow-track-image-container {
  position: relative;
  border-radius: 8px;
  height: 152px;
  overflow: hidden;
}

.projectcard-slideshow-track img,
.projectcard-slideshow-track video {
  object-fit: cover;
  aspect-ratio: auto; 
  background: var(--mui-bg-paper);
  color: var(--mui-bg-paper);
  width: 270px; 
  height: 152px; 
}

.projectcard-content {
  display: flex;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  flex-direction: column;
  gap: 10px;
}

.projectcard-description {
  overflow-wrap: break-word;
}

.projectcard-tags-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 8px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
